In [1]:
import pandas as pd
from pathlib import Path
import json

DATA = Path("../data/CLOTH")

records = []

for split in ["train", "valid", "test"]:
    split_path = DATA / split
    for level in ['high', 'middle']:
        level_path = split_path / level
        for json_file in level_path.glob('*.json'):
            with open(json_file) as f:
                data = json.load(f)
            data['split'] = split
            data['level'] = level
            records.append(data)

df = pd.DataFrame(records)
display(df)

df.to_parquet(DATA / "cloth.parquet")

,article,options,answers,source,split,level
0,It is well known that Albert Einstein was one ...,"[[paper, food, water, air], [hold, take, carry...","[A, A, C, C, B, B, A, D]",high839,train,high
1,Douglas was my cousin. I first met him when he...,"[[day, week, month, year], [parent, cousin, un...","[D, B, A, D, C, B, B, A, C, D]",high2970,train,high
2,"Two weeks before Christmas, Mother told me we ...","[[wanted, lacked, refused, prepared], [also, s...","[B, A, C, B, A, A, B, D, C, C, B, D, B, A, B, D]",high849,train,high
3,"In 1930, a young African American, Vivien T. T...","[[always, often, occasionally, never], [chance...","[D, B, A, C, B, A, D, C, B, A, D, C, B, A, D, ...",high251,train,high
4,I was born in New York City . My first seven y...,"[[feeling, desire, taste, worry], [further, hi...","[B, C, D, A, C, A, B, D, C, A, B, D, C, B, C, ...",high2038,train,high
...,...,...,...,...,...,...
7126,"When I had something _ to do, I used to ask ...","[[difficult, glad, good, happy], [spoke, talke...","[A, C, B, B, A, C, C, A, B, A, C]",middle2789,test,middle
7127,"My name is Carla and I have got two sisters,...","[[me, I, my, I'm], [and, so, or, but], [also, ...","[B, D, D, B, C, C, D]",middle2788,test,middle
7128,A first-grade student named Vincent Butterfiel...,"[[speaking, saying, telling, talking], [hair, ...","[C, A, C, B, D, D, C]",middle2762,test,middle
7129,One night a man came to my house. He said to m...,"[[children, workers, farmers, cooks], [flowers...","[A, C, D, B, C, D, A, B]",middle2769,test,middle
7130,I did very poorly in school. My headmaster tho...,"[[anything, something, everything, nothing], [...","[A, B, A, D, C, D, B, C, B]",middle2708,test,middle

In [4]:
exploded_df = df.explode(["options", "answers"]).reset_index(drop=True)
display(exploded_df)

,article,options,answers,source,split,level
0,It is well known that Albert Einstein was one ...,"[paper, food, water, air]",A,high839,train,high
1,It is well known that Albert Einstein was one ...,"[hold, take, carry, bring]",A,high839,train,high
2,It is well known that Albert Einstein was one ...,"[kindest, coolest, cleverest, coldest]",C,high839,train,high
3,It is well known that Albert Einstein was one ...,"[think, talk, worry, set]",C,high839,train,high
4,It is well known that Albert Einstein was one ...,"[suits, shoes, trousers, clothes]",B,high839,train,high
...,...,...,...,...,...,...
99429,I did very poorly in school. My headmaster tho...,"[terrible, excellent, wrong, right]",C,middle2708,test,middle
99430,I did very poorly in school. My headmaster tho...,"[stayed, laughed, lived, studied]",D,middle2708,test,middle
99431,I did very poorly in school. My headmaster tho...,"[Themselves, myself, himself, herself]",B,middle2708,test,middle
99432,I did very poorly in school. My headmaster tho...,"[proud, rich, poor, happy]",C,middle2708,test,middle
99433,I did very poorly in school. My headmaster tho...,"[cool, famous, clever, helpful]",B,middle2708,test,middle